---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <div class="resume_header">
        <h1>Bobby Wisdom</h1>
        <p>Cloud Engineer</p>
      </div>
      <div class="resume_container">
        <div class="left">
          <div class="education">
            <h4>EDUCATION</h4>
            <p><b>Technology Management</b> | 2011</p>
            <p>Texas A&M University</p>
            <p>College Station, TX</p>
          </div>
          <div class="skills">
            <h4>SKILLS</h4>
            <ul>
              <li>Amazon Web Services (AWS)</li>
              <li>CI/CD</li>
              <li>Infrastructure as code (IaC)</li>
              <li>Containerization</li>
              <li>Monitoring</li>
              <li>Powershell</li>
              <li>Problem Solving</li>
              <li>Collaboration</li>
              <li>Communication</li>
              <li>Adaptability</li>
              <li>Project Management</li>
              <li>Cloud Migration</li>
              <li>Certified Kubernetes Admin (CKA)</li>
            </ul>
          </div>
          <div class="awards">
            <h4>AWARDS</h4>
            <p><b>Mays Business School</b> | 2021</p>
            <p>Star Performer Award</p>
          </div>
        </div>
        <div class="right">
          <div class="objective">
            <h4>CAREER OBJECTIVE</h4>
            <p>
              To improve operational efficiency by implementing DevOps tools
              including, but not limited to infrastructure as code (IaC) and
              CI/CD pipelines.
          </div>
          <div class="experience">
            <h4>EXPERIENCE</h4>
            <p><b>Texas Department of Transportation</b></p>
            <p>June 2024 - Present</p>
            <p>
              <ul>
                <li>Item #1</li>
                <li>Item #2</li>
                <li>Item #3</li>
              </ul>
            </p>
            <br/>
            <p><b>SAIC - USDA RMA</b></p>
            <p>November 2021 - June 2024</p>
            <p>
              <ul>
                <li>Item #1</li>
                <li>Item #2</li>
                <li>Item #3</li>
              </ul>
            </p>
            <br/>
            <p><b>Mays Business School - Texas A&M University</b></p>
            <p>July 2018 - November 2021</p>
            <p>
              <ul>
                <li>Item #1</li>
                <li>Item #2</li>
                <li>Item #3</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
		</main>
		<Footer />
	</body>
</html>
<style>
  .resume_container {
    display: flex;
    justify-content: space-evenly;
  }
  .left {
    padding-right: 20px;
    border-right: 5px solid white;
  }
  .education,.skills,.awards,.objective,.experience {
    margin: 2em 0;
  }
  p {
    margin: 0;
  }
  .right {
    flex-shrink: 100;
    margin-left: 20px;
  }
</style>
